@import "tailwindcss";

@plugin "daisyui";

/* Montserrat */
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf')
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.ttf')
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.ttf')
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraBold.ttf')
}

/* Poppins */
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf')
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.ttf')
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Bold.ttf')
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-ExtraBold.ttf')
}

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-poppins-medium: "Poppins-Medium", sans-serif;
  --font-poppins-bold: "Poppins-Bold", sans-serif;
  --font-poppins-extrabold: "Poppins-ExtraBold", sans-serif;

  --font-montserrat: "Montserrat", sans-serif;
  --font-montserrat-medium: "Montserrat-Medium", sans-serif;
  --font-montserrat-bold: "Montserrat-Bold", sans-serif;
  --font-montserrat-extrabold: "Montserrat-ExtraBold", sans-serif;
}

/* Pastikan teks di modal terlihat */
.bg-white {
  background-color: #ffffff; /* Warna latar belakang putih untuk modal */
}

.text-gray-700 {
  color: #4a4a4a; /* Pastikan teks memiliki warna kontras yang cukup */
}

/* Pastikan input dan textarea juga memiliki warna teks yang cukup kontras */
input, textarea {
  color: #333; /* Warna teks hitam untuk input dan textarea */
}

/* Pastikan tombol memiliki kontras yang cukup */
button {
  color: #fff; /* Warna teks putih pada tombol */
}

/* Pastikan teks tidak transparan */
.modal-text {
  opacity: 1; /* Pastikan teks di dalam modal tidak transparan */
}
